/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Homepage Mobile first */

.homepage-overview {
  /* background: url('/images/home.jpg') center/cover no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.homepage-main-container {
  position: relative;
  border: 3px solid white;
  padding: 20px;
  margin: 27px;
}

.homepage-title {
  /* font-size: 35px; */
  font-size: 2.188rem;
  /* font-weight: bold; */
}

.homepage-subtitle {
  font-size: 18px;
}

.homepage-text {
  display: flex;
  flex-direction: column;
}

.homepage-detail__text {
  margin-top: 15px;
  font-size: 20px;
  margin: 0 30px;
}

/* Banner Section Mobile first */

.banner__section {
  margin: 10vh 0;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner__image {
  /* Centerar texten i diven */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
  min-height: 50vh;
  position: relative;
}

.banner-button {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the element precisely */
  bottom: 2vh;
  padding: 1.2vh 5.9vw;
  display: flex;
  align-items: center;
  margin-top: 2.5vh;
  border: none;
  border-radius: 5px;
  background: #1b48e0;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.banner-button:hover {
  transform: translate(-48%, -50%);
}

.banner-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0 18vw;
}

.banner-subtitle {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5vh;
}

.banner-arrow {
  margin-left: 2vw;
  transition: margin-left 0.3s ease;
}

.banner-button:hover .banner-arrow {
  margin-left: 1vw;
}

a {
  text-decoration: none;
}
/* End of Banner Section */

/* Exploring Section*/

.exploring-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  margin: 0 29vw;
  letter-spacing: 2px;
}

/* Underline styling */
.exploring-title:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 4px solid #003069;
}

/*Card*/

.exploring-main-conatiner {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploring-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10vh;
  margin-left: 4rem;
}

.exploring-wrapper {
  width: 100%;
  height: 100%;
}

.exploring-banner-image {
  background-image: url('/images/card-image.png');
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.exploring-banner-image2 {
  background-image: url('/images/card4.jpeg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.exploring-banner-image3 {
  background-image: url('/images/card2.jpeg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.exploring-main-conatiner h1 {
  color: rgba(255, 255, 255, 0.98);
  font-size: 2rem;
  text-transform: uppercase;
}

.exploring-main-conatiner p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 1.5rem;
}

.exploring-main-conatiner .button-wrapper {
  margin-top: 18px;
}

.exploring-button {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  margin-left: 10px;
}

.exploring-button-outline {
  background: transparent;
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.exploring-button-outline:hover {
  transform: scale(1.125);
  transition: all 0.3 ease;
  border-color: rgba(255, 255, 255, 0.9);
}

.exploring-button-fill {
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3 ease;
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
}

.exploring-button-fill:hover {
  transform: scale(1.125);
  transition: all 0.3s ease;
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

/*Mobile Exploring Page*/

@media screen and (max-width: 480px) {
  .exploring-main-conatiner {
    margin-top: 31rem !important;
  }

  .exploring-container {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .exploring-main-conatiner {
    flex-direction: column;
    margin-top: 34rem;
  }
}

/* End of Exploring page */

/* Desktop */

@media screen and (min-width: 600px) {
  .homepage-main-container {
    position: relative;
    border: 4px solid white;
    padding: 50px;
  }

  .homepage-title {
    /* font-size: 50px; */
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .homepage-subtitle {
    /* font-size: 26px; */
    font-size: 1.625rem;
  }

  .homepage-detail__text {
    /* font-size: 25px; */
    font-size: 1.5rem;
    margin: 40px 30px;
  }
}

/* Desktop Banner Section */

@media screen and (min-width: 1024px) {
  .banner__section {
    margin: 22vh 0;
    height: 50vh;
    min-height: 50vh;
  }

  .banner__image {
    height: 70vh;
  }

  .banner-title {
    font-size: 3.2rem;
    margin: 0 18vw;
  }

  .banner-subtitle {
    font-size: 1.7rem;
    margin-top: 4vh;
  }

  .banner-button {
    padding: 1.2vh 2.5vw;
    margin-top: 2.5vh;
    bottom: 5vh;
  }

  .banner-arrow {
    margin-left: 0.5vw;
  }

  .banner-button:hover {
    background: #142e82;
  }

  /* Exploring page */
}
