/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homepage-overview {
  /* background: url('/images/home.jpg') center/cover no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
